<form action="/user/update/<%= user.id %>" method="POST" class="form-signin form-horizontal">
	
	<h2> Editing <%= user.getFullName() %></h2>
	
	<label for="firstName">First Name</label>
	<input value="<%= user.firstName %>" name="firstName" type="text" class="form-control"/>
	<label for="lastName">Last Name</label>
	<input value="<%= user.lastName %>" name="lastName" type="text" class="form-control"/>
	<% if ( req.session.user.adminLevel <= 2) { %>
		<label for="adminLevel">Admin Level</label>
		<select name="adminLevel" type="text" class="form-control">
			//If user is Crossroads admin
			<% if(req.session.user.adminLevel < 1) { %>
		  		<option value="0" <% if (user.adminLevel === 0) {%> selected="selected" <% }%>>CR Admin - 0</option>
		  	<% } %>
		  	//If User is Company Owner
		  	<% if (req.session.user.adminLevel <= 1) { %>
			  <option value="1" <% if (user.adminLevel === 1) {%> selected="selected" <% }%>>Company Owner - 1</option>
			<% } %>
		  <option value="2" <% if (user.adminLevel === 2) {%> selected="selected" <% }%>>Site Admin - 2</option>
		  <option value="3" <% if (user.adminLevel === 3) {%> selected="selected" <% }%>>Content Admin - 3</option>
		</select>
	<% } else { %>
	<input type="hidden" name="adminLevel" value="<%= user.adminLevel %>"/>
	<% } %>
	<label for="email">Email</label>
	<input value="<%= user.email %>" name="email" type="text" class="form-control"/>
	<input type="submit" value="Update" class="btn btn-lg btn-primary btn-block"/>
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />

</form>