<div class="container">
	<h3>User Administration</h3>
	<div class="table-responsive">
		<table class="table table-hover">
			<tr>
				<th>Company</th>
				<th>Name</th>
				<th>Admin Level</th>
				<th>Email</th>
				<th>Admin</th>
				<th>Online</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
			<% _.each(users, function(user){ %>
			<tr data-id="<%= user.id %>" data-model="user">
			<!-- Find company based on user.company and get its companyName
					Maybe move this into the controller?-->
				<td><%= user.getCompanyName(user.company) %></td>
				<td><a href="/user/show/<%= user.id %>"><%= user.getFullName() %></a></td>
				<td><%= user.adminLevel %></td>
				<td><a href="mailto:<%= user.email %>"><%= user.email %></td>
				<%if (user.admin) {%>
				<td><span class="icono-user gold" aria-hidden="true"></span></td>
				<% } else { %>
				<td><span class="icono-user grey" aria-hidden="true"></span></td>
				<% } %>
				<%if (user.online) {%>
				<td><span class="icono-sun gold" aria-hidden="true"></span></td>
				<% } else { %>
				<td><span class="icono-moon blue" aria-hidden="true"></span></td>
				<% } %>
				<td><a href="/user/show/<%= user.id %>" class="btn btn-sm btn-primary">Show</a></td>
				<td><a href="/user/edit/<%= user.id %>" class="btn btn-sm btn-warning">Edit</a></td>
				<td><form action="/user/destroy/<%= user.id %>" method="POST">
					<input type="hidden" name="_method" value="delete">
					<input type="submit" class="btn btn-sm btn-danger" value="Delete">
					<input type="hidden" name="_csrf" value="<%= _csrf %>">
					</form>
				</td>
			</tr>
			<%  }) %>
		</table>
	</div>
</div>