<div class="container">
	<h1><%= user.name %></h1>
	<% if(user.admin) { %>
	<h3><span class="icono-user gold" aria-hidden="true"></span> <%= user.title %></h3>
	<% } else { %>
	<h3><span class="icono-user grey" aria-hidden="true"></span> <%= user.title %></h3>
	<% } %>
	<hr>
	<h3>Contact: <%= user.email %></h3>
	<a class="btn btn-md btn-primary" href="/user/edit/<%= user.id %>">Edit</a>
</div> 