<div class="container">
	<h1><%= company.companyName %></h1>

	<h4>Street: <%= company.street %></h4>
	<h4>City: <%= company.city %></h4>
	<h4>State: <%= company.state %></h4>
	<h4>Zip Code: <%= company.zipCode %></h4>

	<hr>
	<a class="btn btn-md btn-primary" href="/company/edit/<%= company.id %>">Edit</a>
</div> 